NODE_ENV='prod'

NEXT_SCHEDULE_POLL_MIN= 60 # delay before performing the next check for appointment in minutes
MAX_NUMBER_OF_POLL= 1000 # maximum number of poll before stopping the process
SLEEP_HOUR=22 # hour to stop checking
WAKEUP_HOUR=7 # hour to start checking

NOTIFY_EMAILS='comma separated list of emails to notify when there's a spot'
MAILGUN_DOMAIN='mailgun domain'
MAILGUN_API_KEY='mailgun api key'

DATES=["2024-12-06","2024-12-07","2024-12-08"]
